body{
	padding:0px;
	margin:0px;
	background-color:#E0E0E0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
}

#tip{
	position:absolute;
	z-index:10000;
	padding:10px;
	margin:0px;
	display:none;
	text-align:center;
	color:#000000;
	background-color:#E0E0E0;
	border-radius:3px;
	border:1px solid #000000;
	background-color:#FFFFE5;
	box-shadow:0px 1px 0px rgba(0, 0, 0, .1);
	min-width:140px;
	cursor:default;
	user-select:none;
	-moz-user-select:-moz-none;		/* Firefox */
	-webkit-user-select:none;		/* Webkit */
	-o-user-select:none;			/* Opera */
}
#tip>.arrow{
	position:absolute;
	z-index:1;
	padding:0px;
	margin:0px 0px 0px -5px;
	width:10px;
	height:5px;
	top:100%;
	left:12%;
	background-image:url(images/tip.png);
}
#tip>.content{
	padding:0px;
	margin:0px;
}

#header{
	margin:0px auto 0px auto;
	padding:10px 15px 10px 15px;
	width:100%;
	background-color:#FFFFFF;
	box-shadow:0px 0px 6px rgba(0, 0, 0, .1);
	color:#000000;
	text-align:center;
}

#content{
	margin:0px;
	padding:40px 0px 40px 0px;
}

#content>.page{
	position:relative;
	margin:40px auto 0px auto;
	width:960px;
	padding:15px;
	display:table;
	border-radius:5px;
	background-color:#FFFFFF;
	box-shadow:0px 0px 6px rgba(0, 0, 0, .1);
}

#content>.page>.countdown{
	padding:0px;
	margin:10px 0px 20px 0px;
	outer-width:100%;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
}

#content>.page>.backgrounds{
	padding:0px;
	margin:0px;
	outer-width:100%;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
}

#content>.page>.countdown.background1{
	background-color:#000000;
	background:linear-gradient(top,#000000,#404040);
	background:-moz-linear-gradient(top,#000000,#404040);		/* Firefox */
	background:-webkit-linear-gradient(top,#000000,#404040);	/* Webkit */
	background:-o-linear-gradient(top,#000000,#404040);			/* Opera */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#404040')";	/* IE9 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#404040");			/* IE */
}
#content>.page>.countdown.background2{
	background-color:#FFFFFF;
	background:linear-gradient(top,#E0E0E0,#FFFFFF);
	background:-moz-linear-gradient(top,#E0E0E0,#FFFFFF);		/* Firefox */
	background:-webkit-linear-gradient(top,#E0E0E0,#FFFFFF);	/* Webkit */
	background:-o-linear-gradient(top,#E0E0E0,#FFFFFF);			/* Opera */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#FFFFFF')";	/* IE9 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#E0E0E0", endColorstr="#FFFFFF");			/* IE */
}
#content>.page>.countdown.background3{
	background-color:#248AB2;
	background:linear-gradient(top,#248AB2,#50BCE6);
	background:-moz-linear-gradient(top,#248AB2,#50BCE6);		/* Firefox */
	background:-webkit-linear-gradient(top,#248AB2,#50BCE6);	/* Webkit */
	background:-o-linear-gradient(top,#248AB2,#50BCE6);			/* Opera */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#248AB2', endColorstr='#50BCE6')";	/* IE9 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#248AB2", endColorstr="#50BCE6");			/* IE */
}
#content>.page>.countdown.background4{
	background-color:#FFC800;
	background:linear-gradient(top,#FFA900,#FFC800);
	background:-moz-linear-gradient(top,#FFA900,#FFC800);		/* Firefox */
	background:-webkit-linear-gradient(top,#FFA900,#FFC800);	/* Webkit */
	background:-o-linear-gradient(top,#FFA900,#FFC800);			/* Opera */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA900', endColorstr='#FFC800')";	/* IE9 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFA900", endColorstr="#FFC800");			/* IE */
}
#content>.page>.countdown.background5{
	background-color:#FF4160;
	background:linear-gradient(top,#FF4160,#FF8095);
	background:-moz-linear-gradient(top,#FF4160,#FF8095);		/* Firefox */
	background:-webkit-linear-gradient(top,#FF4160,#FF8095);	/* Webkit */
	background:-o-linear-gradient(top,#FF4160,#FF8095);			/* Opera */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4160', endColorstr='#FF8095')";	/* IE9 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF4160", endColorstr="#FF8095");			/* IE */
}
